* {
    margin: 0;
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
}

.inline {
    display: inline;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.relative {
    position: relative;
}

h1 {
    font-size: 1.5em;
}

h2 {
    padding-left: 10px;
    padding-bottom: 10px;
}




