body {
    font-family: "Roboto", sans-serif;
}

.logo, .title_menu{
    font-family: "Shrikhand", sans-serif;
    font-style: inherit;
}

button {
    font-family: 'Roboto', sans-serif;
}

// textarea 
   