$colour-primary: rgb(147, 86, 220);
$light-primary: hsl(267, 66%, 93%);
$colour-secondary: rgb(255, 121, 218);
$colour-tertiary: #99E2D0;
$dark-tertiary: hsl(165, 56%, 35%);
$colour-accent: #D6FFF5;
$colour-white: #fff;
$colour-invalid: #DB464B;

// buttons
$colour-btn: linear-gradient(172deg, rgb(255, 121, 218) 0%, rgb(214, 108, 219) 39%, rgb(171, 94, 220) 85%, rgb(147, 86, 220) 100%);

// shades of gray
$light-gray: hsl(0, 0%, 94%);
$clear-gray: hsl(0, 0%, 71%);
$normal-gray: hsl(0, 0%, 47%);
$dark-gray: hsl(0, 0%, 10%);

// taille de l'ombre du titre
$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;

// loader
$size: 3vh;
$number-bars: 5;
$animation-duration: 1s;
$animation-delay: $animation-duration / 5;

//layout